<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Nettikirppis</title>

        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'nettikirppis:index' %}">
                    Nettikirppis
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'nettikirppis:items' %}">
                                Ilmoitukset
                            </a>
                        </li>
                    </ul> <!-- End of links on the left side of the navbar-->

                    <!-- Account-related links-->
                     <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <span class="navbar-text me-2">Hei, {{ user.username }}.
                                </span>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'accounts:register' %}">
                                    Rekisteröidy
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'accounts:login' %}">
                                    Kirjaudu sisään
                                </a>
                            </li>
                        {% endif %}
                     </ul> <!-- End of account-related links-->
                     {% if user.is_authenticated %}
                        <form action="{% url 'accounts:logout' %}" method="post">
                            {% csrf_token %}
                            <button name="submit" class="btn btn-outline-secondary btn-sm">
                                Kirjaudu ulos
                            </button>
                        </form>
                     {% endif %}
                </div> <!-- Closes the collapsible parts of navbar-->
            </div> <!-- Closes navbar's containers-->
        </nav> <!-- End of navbar -->
        <main class="container">
            <div class="pb-2 mb-2 border-bottom">
                {% block page_header %} {% endblock page_header %}
            </div>
            <div>
                {% block content %} {% endblock content %}
            </div>
        </main>
    </body>
</html>



<p>

    {% if user.is_authenticated %}
        Hei, {{user.username}}.
    <a href="{% url 'nettikirppis:new_item' %}">Uusi myynti-ilmoitus</a>
    <a href="{% url 'nettikirppis:owner_items' %}">Omat tavarat</a>
    {% endif %}
</p>



