{% extends 'nettikirppis/base.html' %}

{% block content %}
<p>
    <a href="{% url 'nettikirppis:item' item.id %}">{{ item.name }}</a>
</p>

    <p>Muokkaa ilmoitusta</p>
        
    <form action="{% url 'nettikirppis:edit_item' item.id %}" method="post">
        {% csrf_token %}
        {{ form.as_div }}
        <button name="submit" class="yes-button">
            Valmis
        </button>
    </form>
    <form action="{% url 'nettikirppis:delete_item' item.id %}" method="post">
        {% csrf_token %}
        <button name="submit" class="yes-button">
            Poista ilmoitus
        </button>
    </form>

{% endblock content %}