{% extends 'nettikirppis/base.html' %}
{% block header_page %}
    <h1>{{ item }}</h1>
{% endblock header_page %}
{% block content %}
{% load static %}

<p>Ilmoittajan nimi: {{item.owner}}</p>
<p>Ilmoitus: {{item.name}}</p>
<p>{{ item.description }}</p>
<p>{{ item.price }}€</p>
<div>
    {% if item.image %}
        <img src="{{ item.image.url }}" height=300px; width="300px"></img>
    {% else %}
        <p>Ei kuvaa tälle tuotteelle</p>
    {% endif %}
</div>
<ul>
    {% for comment in comments %}
    <li >
        <p>{{ comment.owner }}:</p>
        <p>{{ comment.date_added }}</p>
        <p>{{ comment.text }}</p>

        {% if user.id == comment.owner.id %}
        <p>
            <a href="{% url 'nettikirppis:edit_comment' comment.id %}">
                Muokkaa kommenttia
            </a>
        </p>
        {% else %}
        <p>
            <a href="{% url 'nettikirppis:new_reply' comment.id %}">
                Vastaa
            </a>
        </p>
        {% endif %}
    
    </li>
        <ul>
        {% for reply in replies %}
        {% if reply.orignal_comment == comment.id %}
        <li>
            <p>{{ reply.owner }}:</p>
            <p>{{ reply.date_added }}</p>
            <p>{{ reply.text }}</p>
        </li>
        {% endif %}
        {% endfor %}
        </ul>

    {% empty %}
    {% endfor %}
</ul>

{% if user.id != item.owner.id %}
    <form action="{% url 'nettikirppis:new_comment' item.id %}" method="post">
        {% csrf_token %}
        <button name="submit" class="bottom-button">Jätä viesti</button>
    </form>

{% endif %}

{% if user.is_authenticated %}
    <form action="{% url 'nettikirppis:edit_item' item.id %}" method="post">
        {% csrf_token %}
        <button name="submit" class="bottom-button">
            Muokkaa ilmoitustasi
        </button>
    </form>
{% endif %}

{% endblock content %}