{% extends 'nettikirppis/base.html' %}

{% block content %}
{% load static %}

<p>Ilmoittajan nimi: {{item.owner}}</p>
<p>Ilmoitus: {{item.name}}</p>
<p>{{ item.description }}</p>
<p>{{ item.price }}€</p>
<div>
    {% if item.image %}
        <img src="{{ item.image.url }}"></img>
    {% else %}
        <p>Ei kuvaa tälle tuotteelle</p>
    {% endif %}
</div>
<ul>
    {% for comment in comments %}
    <li>
        <p>{{ comment.date_added }}</p>
        <p>{{ comment.text }}</p>
        <p>
            <a href="{% url 'nettikirppis:edit_comment' comment.id %}">
                Muokkaa kommenttia
            </a>
        </p>
    </li>

    {% empty %}
    <p></p>
    {% endfor %}
</ul>
<p>
    <a href="{% url 'nettikirppis:new_comment' item.id %}">Jätä viesti</a>
</p>

{% endblock content %}