{% extends 'nettikirppis/base.html' %}

{% block page_header %}
    <h1>Ilmoitukset</h1>
{% endblock page_header %}

{% block content %}

    <ul class="list-group border-bottom pb-2 mb-4">
        {% for item in items %}
            <li class="list-group-item border-0">
                <a href="{% url 'nettikirppis:item' item.id %}">
                    {{ item }}
                </a>
            </li>
        {% empty %}
            <li class="list-group-item border-0">Ei vielä ilmoituksia.</li>
        {% endfor %}
    </ul>

{% endblock content %}